<div class="select-wrapper">
  <div class="selected-text selected-currency">{{ shop.currency }}</div>
  <select name="currencies" data-currency-converter>
    {% capture supported_currencies %}USD,EUR,GBP,CAD,ARS,AUD,BBD,BDT,BSD,BHD,BRL,BOB,BND,BGN,MMK,KYD,CLP,CNY,COP,CRC,HRK,CZK,DKK,DOP,XCD,EGP,XPF,FJD,GHS,GTQ,GYD,GEL,HKD,HUF,ISK,INR,IDR,NIS,JMD,JPY,JOD,KZT,KES,KWD,LVL,LTL,MXN,MYR,MUR,MDL,MAD,MNT,MZN,ANG,NZD,NGN,NOK,OMR,PKR,PYG,PEN,PHP,PLN,QAR,RON,RUB,SAR,RSD,SCR,SGD,SYP,ZAR,KRW,LKR,SEK,CHF,TWD,THB,TZS,TTD,TRY,UAH,AED,UYU,VEB,VND,ZMK,{% endcapture %}
    {% assign store_currencies = settings.currency_converter_currencies | split: ' ' %}
    <option value="{{ shop.currency }}" selected="selected">{{ shop.currency }}</option>
    {% for code in store_currencies %}
      {% if code != shop.currency and supported_currencies contains code %}
        <option value="{{ code }}">{{ code }}</option>
      {% endif %}
    {% endfor %}
  </select>
</div>
