{% assign item = product %}
{% if template contains 'search' %}
  {% assign item = item %}
{% elsif template contains 'product' %}
  {% assign item = prod %}
{% endif %}

{% assign not_index = true %}
{% if template contains 'index' %}
  {% assign not_index = false %}
{% endif %}

{% assign list_item_style = list_style | default: '' %}

{% if section.settings.stock_overlay_show and item.available and not_index %}
  {% assign total = 0 %}
  {% assign threshold = section.settings.stock-overlay-threshold %}
  {% assign infinity = false %}
  {% for variant in item.variants %}
    {% if variant.inventory_management == null %}
      {% assign infinity = true %}
    {% elsif variant.inventory_management == '' %}
      {% assign infinity = true %}
    {% elsif infinity == false %}
      {% capture temp %}{{ total | plus: variant.inventory_quantity }}{% endcapture %}
      {% assign total = temp | times: 1 %}
    {% endif %}
  {% endfor %}
{% endif %}

{% assign item_url = item.url | within: collection %}
{% if onboarding %}
  {% assign item_url = "#" %}
{% endif %}

{% unless item.featured_image %}
  {%- capture index -%}
    {%- cycle '1', '2', '3', '4', '5', '6' -%}
  {%- endcapture -%}
  {% assign placeholder_image_style = 'product-' | append: index %}

  {%- capture placeholder_background_image -%}
    {%-
      include 'placeholder_svg_uri',
      placeholder: placeholder_image_style
    -%}
  {%- endcapture -%}
  {%- capture background_style -%}
    style="background-image: url('{{ placeholder_background_image }}');"
  {%- endcapture -%}

  {%- capture image -%}
    {{ placeholder_image_style | placeholder_svg_tag: 'placeholder-svg list-image' }}
  {%- endcapture -%}
{% else %}
  {%- capture background_style -%}
    {%
      include 'rimg',
      background: true,
      img: item.featured_image,
      size: '600x',
      lazy: true
    %}
  {%- endcapture -%}
  {%- capture image -%}
    {%
      include 'rimg',
      class: 'list-image',
      img: item.featured_image,
      size: '600x',
      lazy: true
    %}
  {%- endcapture -%}
{% endunless %}

<div
  class="list-item product-list-item {{ list_item_style }}"
  id="product-list-item-{{ item.id }}"
>
  <label>
  <input type="radio" id="anchor-link" name="rddoo">
  <a class="list-container" href="{{ item_url }}">
    <div class="list-image-wrapper">
      <div
        class="
          list-cover
          {% unless item.item.featured_image %}
            list-cover-placeholder
          {% endunless %}
        "
        {% if show_cover_image %}
          {{ background_style }}
        {% endif %}
      >
       {{ image }}
      </div>

      {% if section.settings.stock_overlay_show and item.available and infinity == false and total < threshold and total > 0 %}
        <div class="stock-badge">
          {{ 'products.product.stock_level' | t: stock_count: total }}
        </div>
      {% endif %}

      {% comment %}
      {% if item.compare_at_price_min > item.price_min and item.available %}
        <div class="sale-badge">
          {{ 'products.product.sale' | t }}
        </div>
      {% endif %}
      {% endcomment %}

    </div>
    <div class="list-text-wrapper">
      <div class="list-title">
        
        {% unless onboarding %}
          {{ item.title }}
        {% else %}
          {{ onboarding_title }}
        {% endunless %}
      </div>

      {% comment %}
      <div class="list-meta">
        {% if onboarding %}
          {{ onboarding_price | money }}
        {% elsif item.available %}
          {% if item.price_varies %}
            <span class="price">
              {% if item.price_varies %}{{ 'products.product.from' | t }}{% endif %} <span class="money">{{ item.price_min | money }}</span>
            </span>
          {% else %}
            <span class="price">
              <span class="money">{{ item.price_min | money }}</span>
              {% unless item.compare_at_price_min <= item.price_min %}
                <span class="original money">
                  {% if item.compare_at_price_min > item.price_min %}
                    {{ item.compare_at_price_min | money }}
                  {% endif %}
                </span>
                <span class="saving">
                  {% if item.compare_at_price > item.price %}
                    {{ "products.product.saving" | t }}
                      <span class="saving-result money">
                      {{ item.compare_at_price_min | minus: item.price | money }}
                      </span>
                  {% endif %}
                </span>
              {% endunless %}
            </span>
          {% endif %}
        {% else %}
          {{ 'products.product.sold_out' | t }}
        {% endif %}
      </div>
      {% endcomment %}
    </div>
  </a>
  </label>
</div>
