<script class="cartFlagX"></script><script
  type="application/json"
  data-section-type="static-cart"
  data-section-id="{{ section.id }}"
>
</script>

<div class="module-wrapper">
  <div class="module cart">
    <div class="module-header cart-header">
      <h1 class="module-title">{{ 'cart.general.header' | t }}</h1>
    </div>
    <div class="module-body">
      <div class="module-content">
        {% if cart.item_count > 0 %}
          <form action="/cart" method="post" id="checkout-form">
            <div class="cart-items-container">
              <table class="cart-items clean">
                <thead class="cart-items-thead">
                  <tr>
                    <th class="first">{{ 'general.general.product' | t}}</th>
                    <th>{{ 'general.general.price' | t }}</th>
                    <th>{{ 'general.general.quantity' | t }}</th>
                    <th class="last">{{ 'general.general.total' | t }}</th>
                  </tr>
                </thead>
                <tbody>
                  {% for item in cart.items %}
                    <tr
                      class="cart-item variant-{{ item.variant.id }} {% include 'for-looper' %}"
                      data-variant="{{ item.variant.id }}"
                      data-title="{{ item.product.title }}"
                      data-url="{{ item.url }}">
                      <td class="cart-item-product cart-item-td">
                        <div class="cart-item-image-container">
                          <a class="cart-image" href="{{ item.url }}">
                            {% if item.image %}
                              {%
                                include 'rimg',
                                class: 'cart-item-image',
                                img: item.image,
                                size: '80x80',
                                alt: item.title,
                                lazy: false
                              %}
                            {% else %}
                              {{ 'image'| placeholder_svg_tag: 'cart-item-image placeholder-svg' }}
                            {% endif %}
                          </a>
                          <a class="cart-item-remove mobile-only" href="/cart/change?line={{ forloop.index }}&amp;quantity=0">
                            <span class="icon icon-cross"></span>
                          </a>
                        </div>
                        <div class="cart-item-product-wrap">
                          <span class="cart-title"><a href="{{ item.url }}">{{ item.product.title }}<span class="tdf-cart-item-t"></span></a></span>
                          <span class="cart-vendor vendor">{{ item.vendor }}</span>
                          {% unless item.variant.title == 'Default Title' %}
                            <span class="cart-variant">{{ item.variant.title }}</span>
                          {% endunless %}
                        </div>
                      </td>
                      <td class="cart-item-price cart-item-td">
                        <div class="cart-item-unit-price">
                          <span class="mobile-only">{{ 'general.general.price' | t }}:</span>
                          <span class="money"><span class=tdf-cart-item-p-p>{{ item.price | money }}</span></span>
                        </div>
                      </td>
                      <td class="cart-item-quantity cart-item-td">
                        <div class="number-input-wrapper cart-item-quantity-wrapper clearfix">
                          <div class="number-input-field">
                            <input type="number" id="cart-item-{{ item.id }}" name="updates[]" class="cart-item-quantity-display" value="{{ item.quantity }}" size="1"  aria-label="{{ "general.general.quantity" | t }}" />
                            <label class="number-input-label" for="cart-item-{{ item.id }}">{{ 'general.general.quantity' | t }}</label>
                          </div>
                          <div class="number-input-nav">
                            <div class="number-input-nav-item icon icon-plus cart-item-increase"></div>
                            <div class="number-input-nav-item icon icon-minus cart-item-decrease"></div>
                          </div>
                        </div>
                      </td>
                      <td class="cart-item-total cart-item-td">
                        <div class="cart-item-total-container">
                          <span class="mobile-only">{{ 'general.general.total' | t }}:</span>
                          <span class="money">{{ item.quantity | times: item.price | money }}</span>
                          <a class="cart-item-remove" href="/cart/change?line={{ forloop.index }}&amp;quantity=0">
                            <span class="icon icon-cross"></span>
                          </a>
                        </div>
                      </td>
                    </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
            <div class="cart-tools">
              <div class="cart-totals">
                <div class="cart-price-info">
                  <p class="sub-total">
                    {{ 'general.general.subtotal' | t}}
                  </p>
                  <p class="cart-price">
                    <span class="money" data-cart-subtotal><span style="display:none" class="tdf-cart-total-flag"></span>
                      {{ cart.total_price | money }}
                    </span>
                  </p>
                  <p class="cart-message meta">
                    {{ 'cart.general.tax_and_shipping' | t }}
                  </p>
                  {% if settings.enable_currency_converter %}
                    <p class="cart-currency-note meta">{{ 'cart.general.currency_note_html' | t: currency: shop.currency }}</p>
                  {% endif %}
                </div>
                <div class="delivery-select">
                  <div class="cart-attribute__field">
                    <h3><label for="choose-your-delivery-option-courier-or-penguin-pickup-location">Choose Your Delivery Option (Courier or Penguin Pickup Location)</label></h3>
                    <p>Penguin pickup will store your purchase in a freezer until you are ready to collect your package at a convenient location. <strong>Note: shipment contents are frozen, regardless of delivery option.</strong></p>
                    <select required class="required" id="choose-your-delivery-option-courier-or-penguin-pickup-location" name="attributes[DeliveryOption]">
                      <option value="Courier"{% if cart.attributes["DeliveryOption"] == "Courier" %} selected{% endif %}>Courier</option>
                      <option value="PPU007 Richmond Hill 31 - 9325 Yonge Street Richmond Hill ON L4C 0A8"{% if cart.attributes["DeliveryOption"] == "PPU007 Richmond Hill 31 - 9325 Yonge Street Richmond Hill ON L4C 0A8" %} selected{% endif %}>PPU007 Richmond Hill 31 - 9325 Yonge Street Richmond Hill ON L4C 0A8</option>
                      <option value="PPU003 Scarborough 1900 Eglinton Avenue East Scarborough ON M1L 2L9"{% if cart.attributes["DeliveryOption"] == "PPU003 Scarborough 1900 Eglinton Avenue East Scarborough ON M1L 2L9" %} selected{% endif %}>PPU003 Scarborough 1900 Eglinton Avenue East Scarborough ON M1L 2L9</option>
                      <option value="PPU004 Eastern Ave 629 Eastern Avenue Toronto ON M4M 1E3"{% if cart.attributes["DeliveryOption"] == "PPU004 Eastern Ave 629 Eastern Avenue Toronto ON M4M 1E3" %} selected{% endif %}>PPU004 Eastern Ave 629 Eastern Avenue Toronto ON M4M 1E3</option>
                      <option value="PPU019 Toronto Cabbagetown 453 Parliament St Toronto ON M5A 3A3"{% if cart.attributes["DeliveryOption"] == "PPU019 Toronto Cabbagetown 453 Parliament St Toronto ON M5A 3A3" %} selected{% endif %}>PPU019 Toronto Cabbagetown 453 Parliament St Toronto ON M5A 3A3</option>
                      <option value="PPU020 Toronto Queens Quay 228 Queens Quay W Toronto ON M5J 2X1"{% if cart.attributes["DeliveryOption"] == "PPU020 Toronto Queens Quay 228 Queens Quay W Toronto ON M5J 2X1" %} selected{% endif %}>PPU020 Toronto Queens Quay 228 Queens Quay W Toronto ON M5J 2X1</option>
                      <option value="PPU021 Toronto Eglinton East 120 Eglinton Ave East Toronto ON M4P 1A6"{% if cart.attributes["DeliveryOption"] == "PPU021 Toronto Eglinton East 120 Eglinton Ave East Toronto ON M4P 1A6" %} selected{% endif %}>PPU021 Toronto Eglinton East 120 Eglinton Ave East Toronto ON M4P 1A6</option>
                      <option value="PPU022 Toronto Fashion District 531 Adelaide St W"{% if cart.attributes["DeliveryOption"] == "PPU022 Toronto Fashion District 531 Adelaide St W" %} selected{% endif %}>PPU022 Toronto Fashion District 531 Adelaide St W</option>
                      <option value="Unit 109 Toronto ON M5V 0N7"{% if cart.attributes["DeliveryOption"] == "Unit 109 Toronto ON M5V 0N7" %} selected{% endif %}>Unit 109 Toronto ON M5V 0N7</option>
                      <option value="PPU023 Toronto Queen West 68 Abell St Toronto ON M6J 0B1"{% if cart.attributes["DeliveryOption"] == "PPU023 Toronto Queen West 68 Abell St Toronto ON M6J 0B1" %} selected{% endif %}>PPU023 Toronto Queen West 68 Abell St Toronto ON M6J 0B1</option>
                      <option value="PPU024 Toronto Church & Wellesley 609 Church St Toronto ON M4Y 2E6"{% if cart.attributes["DeliveryOption"] == "PPU024 Toronto Church & Wellesley 609 Church St Toronto ON M4Y 2E6" %} selected{% endif %}>PPU024 Toronto Church & Wellesley 609 Church St Toronto ON M4Y 2E6</option>
                      <option value="PPU001 Vaughan VMC 3200 Hwy 7 Vaughan ON L4K 5Z5"{% if cart.attributes["DeliveryOption"] == "PPU001 Vaughan VMC 3200 Hwy 7 Vaughan ON L4K 5Z5" %} selected{% endif %}>PPU001 Vaughan VMC 3200 Hwy 7 Vaughan ON L4K 5Z5</option>
                      <option value="PPU002 Toronto North Park 1401 Lawrence Avenue W North York ON M6L 1A4"{% if cart.attributes["DeliveryOption"] == "PPU002 Toronto North Park 1401 Lawrence Avenue W North York ON M6L 1A4" %} selected{% endif %}>PPU002 Toronto North Park 1401 Lawrence Avenue W North York ON M6L 1A4</option>
                      <option value="PPU016 Crossroads 2625E Weston Road North York ON M9N 3X2"{% if cart.attributes["DeliveryOption"] == "PPU016 Crossroads 2625E Weston Road North York ON M9N 3X2" %} selected{% endif %}>PPU016 Crossroads 2625E Weston Road North York ON M9N 3X2</option>
                      <option value="Brampton Queen & Airport 2880 Queen Street East"{% if cart.attributes["DeliveryOption"] == "Brampton Queen & Airport 2880 Queen Street East" %} selected{% endif %}>Brampton Queen & Airport 2880 Queen Street East</option>
                      <option value="Unit 4 Brampton ON L6S 6E8"{% if cart.attributes["DeliveryOption"] == "Unit 4 Brampton ON L6S 6E8" %} selected{% endif %}>Unit 4 Brampton ON L6S 6E8</option>
                      <option value="Oakville Dorval 200 North Service Rd W Oakville ON L6M 2Y1"{% if cart.attributes["DeliveryOption"] == "Oakville Dorval 200 North Service Rd W Oakville ON L6M 2Y1" %} selected{% endif %}>Oakville Dorval 200 North Service Rd W Oakville ON L6M 2Y1</option>
                      <option value="Toronto Yorkville 110 Cumberland St"{% if cart.attributes["DeliveryOption"] == "Toronto Yorkville 110 Cumberland St" %} selected{% endif %}>Toronto Yorkville 110 Cumberland St</option>
                      <option value="Lower Level Toronto ON M5R 3V5"{% if cart.attributes["DeliveryOption"] == "Lower Level Toronto ON M5R 3V5" %} selected{% endif %}>Lower Level Toronto ON M5R 3V5</option>
                      <option value="UPS#509 Toronto Harbourfront 264 Queens Quay W Toronto ON M5J 1B5"{% if cart.attributes["DeliveryOption"] == "UPS#509 Toronto Harbourfront 264 Queens Quay W Toronto ON M5J 1B5" %} selected{% endif %}>UPS#509 Toronto Harbourfront 264 Queens Quay W Toronto ON M5J 1B5</option>
                      <option value="UPS#514 Toronto Davisville 6 Belsize Drive Toronto ON M4S 1L4"{% if cart.attributes["DeliveryOption"] == "UPS#514 Toronto Davisville 6 Belsize Drive Toronto ON M4S 1L4" %} selected{% endif %}>UPS#514 Toronto Davisville 6 Belsize Drive Toronto ON M4S 1L4</option>
                    </select>
                  </div>
                </div>
                <p class="cart-attribute__field">
                	<label for="courier-delivery-notes-ie-leave-with-doorman">Courier Delivery Notes (i.e. leave with doorman)</label>
                	<input id="courier-delivery-notes-ie-leave-with-doorman" type="text" name="attributes[CourierDeliveryNotes]" value="{{ cart.attributes["CourierDeliveryNotes"] }}">
                </p>
                <div class="terms-and-conditions">
                  <p>Shipping Address checkout section is a required field and will only be used for Courier deliveries. Penguin Pickup deliveries will be sent to the location you selected.</p>
                  <p>
                    <input style="float:none; vertical-align: middle;" type="checkbox" id="agree" />
                    <label style="display:inline; float:none" for="agree">
                      I agree to the <a href="/pages/client-agreement" target="_blank">terms and conditions</a>.
                    </label>
                  </p>
                </div>
                <div class="cart-cta">

                  <input
                    type="submit"
                    name="update"
                    value="{{ 'cart.general.update_button' | t }}"
                    class="button outline cart-button cart-update-button"
                  >
                  <button
                    type="submit"
                    name="checkout"
                    value="{{ 'cart.general.submit' | t }}"
                    class="button secondary inverse cart-button"
                  >
                    {% if section.settings.enable_checkout_lock_icon %}
                      <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M2.5 11.1667C2.5 10.0622 3.39543 9.16675 4.5 9.16675H15.5C16.6046 9.16675 17.5 10.0622 17.5 11.1667V16.3334C17.5 17.438 16.6046 18.3334 15.5 18.3334H4.5C3.39543 18.3334 2.5 17.438 2.5 16.3334V11.1667Z" fill="currentColor"/>
                        <path d="M5.83337 9.16675V5.83341C5.83337 3.53223 7.69885 1.66675 10 1.66675C12.3012 1.66675 14.1667 3.53223 14.1667 5.83341V9.16675" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                      </svg>
                    {% endif %}
                    <span>{{ 'cart.general.submit' | t }}</span>
                  </button>

                  {% if additional_checkout_buttons %}
                    <div class="cart-additional-checkout-buttons">
                      {{ content_for_additional_checkout_buttons }}
                    </div>
                  {% endif %}
                </div>
              </div>
              {% if section.settings.order_notes %}
                <div class="cart-instructions">
                  <p><label for="cart-notes">{{ 'cart.general.instructions_title' | t }}</label></p>
                  <textarea rows="6" name="note" id="cart-notes" placeholder="{{ 'cart.general.instructions_placeholder' | t }}">{{ cart.note }}</textarea>
                </div>
              {% endif %}
            </div>
          </form>

          <div class="cart-modal-wrapper">
            <div class="cart-modal">
              <h3 class="cart-modal-title" data-modal-title></h3>
              <div class="cart-modal-message" data-modal-message></div>
              <div class="cart-modal-action">
                <button class='button dismiss' data-modal-action></button>
              </div>
            </div>
          </div>

          {% if section.settings.show_shipping_calculator and cart.requires_shipping %}
            {% include 'shipping-calculator' %}
          {% endif %}
        {% else %}
          <p class="empty">{{ 'cart.general.empty' | t }} <a href="{{ shop.url }}/collections/all">{{ 'cart.general.continue' | t }}</a></p>
        {% endif %}
      </div>
    </div>
  </div>
</div>

<script type="application/json" data-cart-strings>
  {
    "cartQuantityError": {
      "title": {{ 'cart.quantity_error.title' | t | json }},
      "message": {{ 'cart.quantity_error.message' | t: quantity: '** quantity **', title: '** title **' | json }},
      "button": {{ 'cart.quantity_error.button' | t | json }}
    }
  }
</script>

{% schema %}
{
  "name": "Cart page",
  "settings": [
    {
      "type": "checkbox",
      "id": "enable_checkout_lock_icon",
      "label": "Show lock icon on checkout button",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "order_notes",
      "label": "Enable order notes",
      "default": false
    },
    {
      "type": "header",
      "content": "Shipping calculator"
    },
    {
      "type": "checkbox",
      "id": "show_shipping_calculator",
      "label": "Enable",
      "default": false
    },
    {
      "type": "text",
      "id": "shipping_calculator_default_country",
      "label": "Default country",
      "default": "United States"
    }
  ]
}

{% endschema %}